.About .secContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.About .secContainer .imgDiv {
  width: 100%;
  padding-top: 20px;
}
.About .secContainer .imgDiv img {
  border: 5px solid var(--primaryColorLight);
  border-color: #fafafa;
  box-shadow: 0 50px 80px rgba(0, 0, 0, 0.925);
  border-radius: 30%;
  width: 50%;
  margin-left: 100px;
}
.About .secContainer .textDiv .secTitle {
  text-align: left;
  gap: 0.5rem;
}
.About .secContainer .textDiv .accordion {
  gap: 0.5rem;
  align-items: flex-start;
}
.About .secContainer .textDiv .accordion .singleAccordion {
  width: 100%;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}
.About .secContainer .textDiv .accordion .singleAccordion:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px #000;
  border-radius: var(--borderRadius);
}
.About .secContainer .textDiv .accordion .singleAccordion .icon {
  color: var(--primaryColor);
  background: var(--primaryColorLight);
  padding: 5px;
  border-radius: 3px;
  font-size: 23px;
}
.About .secContainer .textDiv .accordion .singleAccordion .accordionTitle {
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid var(--shadowColor);
  border-radius: var(--borderRadius);
}
.About .secContainer .textDiv .accordion .singleAccordion .accordionTitle .flex {
  align-items: center;
  gap: 0.3rem;
  justify-content: center;
}
.About .secContainer .textDiv .accordion .singleAccordion .accordionTitle .flex .titletext {
  font-weight: 600;
  color: var(--primaryColor);
  font-size: var(--normalFontSize);
}
.About .secContainer .textDiv .accordion .singleAccordion .description {
  font-size: var(--normalFontSize);
  display: flex;
  align-items: center;
  width: 100%;
  line-height: 20px;
  font-weight: 500;
  height: 0;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  padding: 0.5rem 1rem 1.5rem;
  border-radius: 0 0 var(--borderRadius);
  color: var(--primaryColorDark);
}
.About .secContainer .textDiv .accordion .singleAccordion .show {
  height: 100px;
  opacity: 0.7;
}
.About .secContainer .textDiv .accordion .singleAccordion .activeTitle {
  border: 1px solid transparent;
}
.About .secContainer .textDiv .accordion .activeAccord {
  box-shadow: 0 4px 8px var(--shadowColor);
  border-radius: var(--borderRadius);
  border: 1px solid var(--shadowColor);
}
@media screen and (min-width: 550px) {
  .About .secContainer .textDiv {
    margin-top: 20px;
    flex-basis: 50%;
  }
}
@media screen and (min-width: 1100px) {
  .About .secContainer {
    flex-direction: row;
    justify-content: space-between;
  }
  .About .secContainer .textDiv {
    flex-basis: 45%;
  }
  .About .secContainer .textDiv .accordion .singleAccordion .description {
    padding: 0 1rem 1.5rem;
  }
  .About .secContainer .textDiv .accordion .singleAccordion .show {
    height: 100%;
  }
  .About .secContainer .imgDiv {
    width: 100%;
    padding-top: 20px;
  }
  .About .secContainer .imgDiv img {
    border: 5px solid var(--primaryColorLight);
    border-color: #fafafa;
    box-shadow: 0 50px 80px rgba(0, 0, 0, 0.925);
    border-radius: 30%;
    width: 50%;
    margin-left: 100px;
  }
}/*# sourceMappingURL=About.css.map */