@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap");
:root {
  --primaryColor: #3959d7;
  --primaryColorLight: hsl(223, 100%, 97%);
  --primaryColorDark: hsl(216, 58%, 28%);
  --gradientLight: rgb(114, 145, 255);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: #f5f5f9;
  --blackColor: hsl(0, 0%, 18%);
  --blackColorLight: hsl(233, 3%, 51%);
  --shadowColor: hsl(219, 63%, 95%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);
  --orangeColor: hsl(25, 84%, 53%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.6rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 10px;
}

.Listing .secContainer .secHeader {
  text-align: center;
}
.Listing .secContainer .secHeader .btns {
  margin-top: 1.5rem;
  gap: 1rem;
  justify-content: center;
}
.Listing .secContainer .secHeader .btns .btn {
  border: 2px solid var(--primaryColorDark);
  background: none;
  color: var(--primaryColorDark);
  font-weight: 700;
}
.Listing .secContainer .secHeader .btns .btn:hover {
  background: var(--primaryColor);
  border: 2px solid transparent;
  color: var(--whiteColor);
}
.Listing .secContainer .secHeader .btns .active {
  background: var(--primaryColor);
  border: 2px solid transparent;
  color: var(--whiteColor);
}
.Listing .secContainer .paratitle {
  font-size: var(--h3FontSize);
  font-weight: 600;
  color: var(--primaryColor);
}
.Listing .secContainer .secContent .singleListing {
  display: grid;
  border-radius: var(--borderRadius);
  padding: 6px;
  gap: 0.5rem;
  overflow: hidden;
}
.Listing .secContainer .secContent .singleListing:hover {
  box-shadow: 0 4px 6px var(--shadowColor);
}
.Listing .secContainer .secContent .singleListing:hover .imgDiv {
  scale: 1.07;
  transition: 0.5s ease-in-out;
}
.Listing .secContainer .secContent .singleListing .imgDiv {
  height: 200px;
  width: 100%;
  border-radius: var(--borderRadius);
  overflow: hidden;
}
.Listing .secContainer .secContent .singleListing .imgDiv img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Listing .secContainer .secContent .singleListing .info {
  padding: 0.7rem 0.75rem 0;
}
.Listing .secContainer .secContent .singleListing .info .price {
  font-size: var(--h3FontSize);
  display: block;
  font-weight: 500;
  padding: 0.5rem 0;
}
.Listing .secContainer .secContent .singleListing .info .price .digits {
  color: var(--primaryColorDark);
  opacity: 0.7;
  font-weight: 600;
}
.Listing .secContainer .secContent .singleListing .info .price .duration {
  font-weight: 500;
  color: var(--primaryColorDark);
  font-display: var(--normalFontSize);
}
.Listing .secContainer .secContent .singleListing .info .name {
  display: block;
  font-size: var(--h2FontSize);
  font-weight: 700;
  color: var(--primaryColorDark);
}
.Listing .secContainer .secContent .singleListing .info p {
  color: var(--primaryColorDark);
  opacity: 0.9;
  font-size: var(--normalFontSize);
  line-height: 20px;
  border-bottom: 3px solid var(--primaryColorLight);
  padding-bottom: 1rem;
}
.Listing .secContainer .secContent .singleListing .info .ammenities {
  padding: 1rem 0;
  gap: 1rem;
}
.Listing .secContainer .secContent .singleListing .info .ammenities .flex {
  gap: 0.5rem;
}
.Listing .secContainer .secContent .singleListing .info .ammenities .flex .icon {
  color: var(--orangeColor);
}
.Listing .secContainer .secContent .singleListing .info .ammenities .flex blockquote {
  color: var(--blackColor);
  opacity: 0.8;
  font-weight: 500;
}

@media screen and (min-width: 250px) {
  .Listing .secContainer .secHeader .icon {
    transform: translateY(0);
  }
  .Listing .secContainer .secContent {
    gap: 3rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 1100px) {
  .Listing .secContainer .secContent {
    gap: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}/*# sourceMappingURL=Listing.css.map */